/* ==========================================================================
   Colors
   ========================================================================== */
$white: #fff;
$blue-grey: #607d8b;
$light-grey: #ccc;
$light-green: #dcedc8;
$dark-green: #33691e;
$light-red: #ffcdd2;
$dark-red: #b71c1c;

$theme-color: $blue-grey;
$text-color: #929292;
$link-color: $white;
$background-color: $white;

/* ==========================================================================
   Sizes
   ========================================================================== */
$font-size-normal: 1em;
$font-size-medium: 1.5em;
$font-size-large: 1.7em;

/* ==========================================================================
   Fonts
   ========================================================================== */
$font-family-base: "PT Sans", sans-serif;
