<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <h3 class="title-box"><%= link_to student.name, student %></h3>

    <div class="caption">
      <p class="description">
        Número de registro: <%= student.register_number %>
      </p>
      <div class="footer-status">
        <%= student.status.humanize %>
      </div>
    </div>
  </div>
</div>
