<div class="student-info">
  <h3>Name of student: <%= student.name %></h3>
  <p>Register Number: <%= student.register_number %></p>
  <p>Status: <%= student.status.humanize %></p>
</div>
<hr />
