<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <h3 class="title-box"><%= link_to student.name, student %></h3>

    <div class="caption">
      <p class="description">
        <%= t("activerecord.attributes.student.register_number") %>
        <%= student.register_number %>
      </p>
      <div class="footer-status">
        <%= t("activerecord.attributes.student.#{student.status}") %>
      </div>
    </div>
  </div>
</div>
