<div class="col-md-16">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to "Students", students_path,
          :class => "btn btn-default btn-lg" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Courses</h2>
    </div>

    <div class="panel-body">
      <% if @courses.any? %>
        <%= render @courses %>
      <% else %>
        <p>You have no courses yet. :(</p>
      <% end %>
    </div>
  </div>
</div>
