<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "Proficiency School", root_path %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Create student", new_student_path %></li>
      <li><%= link_to "Create course", new_course_path %></li>
    </ul>
  </div>
</nav>
